#inputs, #subTitle {
    text-align: left;
    margin-left: 20px;
}

form {
    display: flex;
    flex-wrap: nowrap;
}

#radioBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}